.blockSpinner {
    display: flex;
    justify-content: space-around;
    padding: 50px 0 0 0;
}

.cardContent {
    max-width: 300px;
    width: 98%;
}

.cardImg {
    height: 300px;
}

.cardText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardTitle {
    white-space: nowrap;
    overflow: hidden;
    background: #fc0;
    padding: 5px;
    text-overflow: ellipsis;
}

.blockIcons {
    padding: 10px 15px 0;
    display: flex;
    justify-content: space-between;
}

.iconHeart {
    width: 24px;
    height: 24px;
    fill: white;
    stroke: black;
    overflow: visible;
}

.iconHeart.liked {
    fill: red;
    stroke: red;
}

.iconDelete {
    width: 24px;
    height: 24px;
}

.blockFilter {
    padding: 30px 0;
}

.badgeFilter {
    font-size: 18px !important;
}
